/**************** public *******************/

   @import url('aos.css');

    * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: 'Noto Sans KR', -apple-system,Arial, sans-serif; 
        -webkit-tap-highlight-color: transparent;
    }
    html, body, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
    abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, 
    strike, strong, sub, sup, tt, var, b, u, i, ul, ol, li, dl, dt, dd, table, caption,
    tbody, tfoot, thead, tr, th, td, fieldset, fo7m, label, legend, input, button, textarea, select 
    {margin:0; padding: 0; }
    html, body { margin: 0; padding: 0; height: 100%;}

    body { background-color: #fff; margin: 0; height: auto; font-size: 16px; min-height: 100vh; letter-spacing: -0.4px; color: #222; }
    input, select, textarea { border: 1px solid #ccc; height: 40px; padding: 5px 15px; /*font-family:"Droid Sans";*/ outline: none; font-size: 1em; }
    textarea { resize: none; }
    input:focus, select:focus, textarea:focus { border-color: #333; }
    input::placeholder, select::placeholder, textarea::placeholder { color: #888; }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(../img/icon/tool/select_down.svg);
        background-position: right 20px center;
        background-repeat: no-repeat;
        padding-right: 40px;
   }
    select::-ms-expand {
        display: none;
    }
    select option[hidden] {
        color: red;
    }
    input::placeholder,
    input:disabled {
        color: #AAAAAA;
    }
    input:disabled {
        cursor: default !important;
    }
    input[type="text"] { width:100%; }
    input[name="title"] { font-size: 21px; font-weight: 800; text-align: center; }
    input[type="password" i] { }

    button { cursor: pointer; border: 1px solid #eee; }
    button:focus { outline: none; box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1); }
    ul { list-style: none; }
    a { color: currentColor; text-decoration: none; }
    h1,h2,h3,h4,h5 { font-size: 1em; }

    body {
        min-width: 1240px;
    }

    img {
        vertical-align: top;
    }
    .landing_area {
        position: relative;
        padding-top: 70px;
        padding-bottom: 150px;
        overflow: hidden;
    }
    .bg_scd {
        background: #f5f5fa;
    }
    .bg_thd {
        background: #3ccbdb;    
    }
    .inner {
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }
    .img-background {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 1050px;
    }
    .img-09 {
        height: 554px;
    }
    .logo {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 214px;
        height: 90px;
        background: #fff;
        border-radius: 0 0 15px 15px;
    }
    .pd_0 {
        padding: 0;
    }
    .pdb_0 {
        padding-bottom: 0;
    }
    .ml_30 {
        margin-right: 30px;
    }
    .ml_40 {
        margin-right: 40px;
    }
    .ml_100 {
        margin-right: 100px;
    }
    .mb_50 {
        margin-bottom: 50px;
    }
    .mb_70 {
        margin-bottom: 70px;
    }
    .mb_80 {
        margin-bottom: 80px;
    }

    .mt_25 {
        margin-top: 28px;
    }
    .mt_70 {
        margin-top: 70px;
    }
    .mt_80 {
        margin-top: 80px;
    }
    .mt_120 {
        margin-top: 120px;
    }

    .pl_80 {
        padding-left: 80px;
    }
    .pl_150 {
        padding-left: 200px;
    }
    .pr_80 {
        padding-right: 80px;
    }
    .pr_150 {
        padding-right: 200px;
    }

    .txt_title {
        text-align: center;
    }
    .txt_top_01 {
        position: absolute;
        top: 170px;
        left: 0;
        width: 100%;
    }
    .img_box { text-align: center; }

    .fl_box_bt {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .fl_center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .fl_center > div {
        flex-grow: 1;
        width: 50%;
    }

    .btn_area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ab_wrap {
        position: relative;
    }
    .ab_wrap .ab_area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .ab_wrap .ab_area .inner {
        height: 100%;
    }
    .ab_btn {
       /* position: absolute;
        left: 0;
        top: 0;*/
        width: 100%;
        text-align: center;
        margin-top: -59px;
        z-index: 1000;
    }

    .list {
        margin: 0 50px;
        padding: 80px 0;
        padding-left: 160px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    .list li + li {
        margin-top: 50px;
    }
 
    